/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/app/globals.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}/*
! tailwindcss v3.4.13 | MIT License | https://tailwindcss.com
*//*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
  -webkit-tap-highlight-color: transparent; /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-feature-settings: normal; /* 2 */
  font-variation-settings: normal; /* 3 */
  font-size: 1em; /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  letter-spacing: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/
dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */
[hidden] {
  display: none;
}
.visible {
  visibility: visible;
}
.hidden {
  display: none;
}
.size-6 {
  width: 1.5rem;
  height: 1.5rem;
}
.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.navbar {
  height: 70px;
  background-color: aliceblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
#links-navbar {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 18px;
  font-weight: 800;
}
#links-navbar > a {
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 14px;
}
#links-navbar > a:hover {
  background-color: black;
  color: white;
}
#nams-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}
#shady{
  font-size: 22px;
  font-weight: 700;
}
#reload {
  border: 2px solid green;
  color: green;
}
#delete{
  border: 2px solid red;
  color: red;
}
#delete:hover{
  background-color: red;
  color: white;
}
#buttonDE {
  border: 2px solid red;
  color: red;
  margin-left: 10px;
  border-radius: 10px;
}
#buttonDE:hover {
  background-color: red;
  color: white;
}
#reload:hover {
  background-color: green;
  color: white;
}
#reload,#delete {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#image-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 30px;
}
#image-navbar > img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 30px;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 90vh;
}
#truck,
#category {
  height: 45vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#all-items {
  height: 28vh;
  width: 300px;
  background-color: aliceblue;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#all-items > h2 {
  width: 50%;
  display: flex;
  justify-content: start;
  align-items: center;
}
#all-items > h2 > p {
  font-size: 20px;
  font-weight: 600;
}
#all-items > h2 > span {
  font-size: 22px;
  font-weight: 800;
}
#all-items > p {
  font-size: 22px;
  font-weight: 600;
}
#all-items > h1 {
  font-size: 33px;
  font-weight: 800;
}
#most-4-truck,
#most-6-category {
  height: 28vh;
  width: 800px;
  background-color: aliceblue;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
  flex-wrap: wrap;
}
#most-6-category > h1 {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 18px;
  font-weight: 800;
}
#most-6-category > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 240px;
  height: 10vh;
}
#most-6-category > div > img {
  width: 40px;
  border-radius: 8px;
  height: 40px;
}
#most-6-category > div > h1 {
  font-size: 20px;
  font-weight: 600;
}

.add-truck {
  height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.input-image {
  margin-top: 20px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 600px;
}
.input-image > li,
.inputs-title > li,
.inputs-name > li,
.inputs-hidden-price > li,
.input-phone > li,
.input-type > li,
.inputs-location > li {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.input-image > li > p,
.inputs-title > li > p,
.inputs-hidden-price > li > p,
.inputs-name > li > p,
.input-phone > li > p,
.input-type > li > p,
.inputs-location > li > p {
  font-size: 18px;
  font-weight: 700;
}
.input-image > li > input,
.inputs-title > li > input,
.inputs-hidden-price > li > input,
.inputs-name > li > input,
.input-phone > li > input,
.input-type > li > input,
.inputs-location > li > input {
  width: 400px;
  margin-right: 20px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 3px 10px;
  font-weight: 600;
}
.inputs-hidden-price > li > input{
  width: 120px;
  margin-right: 20px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 3px 10px;
  font-weight: 600;
}
.input-image > img {
  height: 60px;
  width: 60px;
  border-radius: 10px;
  border: 2px solid black;
}
.inputs-title,
.inputs-name,
.input-phone,
.inputs-location {
  height: 70px;
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.inputs-description {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.inputs-description > li {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.inputs-description > li > textarea {
  width: 400px;
  margin-right: 20px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 3px 10px;
  font-weight: 600;
}
.inputs-description > li > p {
  font-size: 18px;
  font-weight: 700;
}
.inputs-hidden-price {
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#check-box {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#check-box > p {
  font-size: 20px;
  font-weight: 700;
  margin-right: 20px;
}
.button-save {
  margin-top: 50px;
}
.button-save > button {
  height: 40px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 800;
  border: 2px solid black;
  border-radius: 10px;
}
.button-save > button:hover {
  background-color: black;
  color: white;
}
.input-type > h4 {
  width: 200%;
}

.category-page {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-page > li {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.category-page > li > input {
  width: 400px;
  margin-right: 20px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 3px 10px;
  font-weight: 600;
}
.category-page > li > p {
  font-size: 18px;
  font-weight: 700;
}
.category-page > ul > div > li > p {
  font-size: 18px;
  font-weight: 700;
}
.category-page > ul > div > li > input {
  width: 400px;
  margin-right: 20px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 3px 10px;
  font-weight: 600;
}
.category-page > ul > div > img {
  height: 60px;
  width: 60px;
  border-radius: 10px;
  border: 2px solid black;
}

#image-category {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 400px;
}

.all-truck-page {
  min-height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.all-truck-page > h1 {
  height: 10vh;
  justify-items: center;
  align-content: center;
  font-size: 33px;
  font-weight: 700;
}
.cards {
  min-height: 110vh;
  width: 80%;
  margin: 0 10%;
}
#card {
  width: 100%;
  height: 70px;
  background-color: aliceblue;
  border-radius: 20px;
  border: 2px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0;
}
#buttons-card {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#buttons-card > button {
  padding: 5px 5px;
  color: white;
  border-radius: 10px;
}
#buttons-card > button:nth-child(1) {
  background-color: rgb(19, 161, 19);
}
#buttons-card > button:nth-child(1):hover {
  background-color: rgb(7, 65, 7);
}
#buttons-card > button:nth-child(2) {
  background-color: rgb(252, 57, 57);
}
#buttons-card > button:nth-child(2):hover {
  background-color: rgb(124, 7, 7);
}
#avalible-card {
  width: 15%;
}
#type-card {
  width: 20%;
}
#name-card {
  width: 20%;
}
#image-card {
  width: 10%;
}
#image-card > img {
  height: 60px;
  width: 60px;
  border-radius: 10px;
  border: 1px solid black;
}

#title {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 33px;
  font-weight: 700;
  width: 100%;
}

.show-category-page {
  min-height: 110vh;
}
.cards-category {
  min-height: 100vh;
  width: 60%;
  margin: 10px 20%;
}
#card-category {
  height: 70px;
  width: 100%;
  border: 2px solid black;
  border-radius: 20px;
  background-color: aliceblue;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 0;
}
#button-categoty {
  width: 20%;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#button-categoty > button {
  padding: 5px 5px;
  color: white;
  border-radius: 10px;
  background-color: rgb(252, 57, 57);
}
#button-categoty > button:hover {
  background-color: rgb(124, 7, 7);
}
#image-category {
  width: 20%;
}
#image-category > img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid black;
}
#name-category {
  width: 50%;
  font-size: 20px;
  font-weight: 700;
}

.category-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.category-page > div {
  height: 100px;
  width: 100px;
}
.category-page > div > img {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  border-radius: 20px;
}
.category-page > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 800px;
}
.category-page > ul > p {
  font-size: 20px;
  font-weight: 700;
  margin-right: 10px;
}
.category-page > ul > input {
  width: 500px;
  height: 40px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 0 10px;
}
#button-add {
  font-size: 22px;
  font-weight: 700;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#button-add > button {
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 10px ;
}
#button-add > button:hover {
  background-color: black;
  color: white;
}

